body {
   font-family: Arial, sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
   background-color: rgb(148,177,255);  
}
/*
html, body {
   touch-action: none;  Prevent touch gestures like scrolling 
    overflow: hidden;  Disable scrolling 
   user-select: none;
}*/

h1 {
   color: #333;
}

.card {
   width: 65px;
   height: 100px;
   background-color: #3498db;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: grab;
   position: absolute; /* Allow it to be positioned anywhere */
}